*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
update.sh
local.properties
.env
secrets.*
.venv
venv
key.properties
*.jks
*.keystore

# IntelliJ / Android Studio
.idea/
*.iml

# Kotlin
.kotlin/
